.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.top{
  height: 64px;
  background-image: url(images/tile.jpg);
}

.middle{
  flex: 8;

 
}

.bottom{
  height: 64px;
  background-image: url(images/tile.jpg);

}