.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.top{
  height: 64px;
  background-image: url(images/tile.jpg);
}

.middle{
 flex: 8;
border:1px solid;
background-color: lightgrey;
 
}


.bottom{
  height: 64px;
  background-image: url(images/tile.jpg);
}

img{
	float:left;
	transition:0.4s;
	-webkit-transition:0.4s;
	transform: scale(1);
	-webkit-transform: scale(1);
}

img:hover{
		-webkit-transform: (1.5);
		transform: scale(1.5); 
}

p{

	font-family: Trebuchet MS;
	border: 1px solid;
}






