.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row; 
}

.top{
  width: 64px;
  background-image: url(images/tile.jpg);

}

.middle{
  flex: 8;
background-color: lightgrey; 
  
}

.bottom{
  width: 64px;
  background-image: url(images/tile.jpg);
}

img{
padding: 50px;
}